*{
	margin: 1px;
	padding: 0;
}

.background {
	background-image: url("Images/gravel.png");
	height: 1000px;
}

.header {
	width: 100%;
	margin: 5px auto;
	border-bottom: 3px solid;
	text-align: center;
	padding-top: 25px;
	background-color: #e5e5e5;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: lighter;
}

#headline {
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	height: 10px;
}

.navbar {
	width: 100%;
	height: 50px;
	margin: 10px auto;
	border-radius: 5px;
	text-align: center;
	/*border: 2px solid;*/
	color: black;
	text-decoration: none;
	background-color: #e5e5e5;
} 


.navbar ul li{
 	display: inline-block;
  	margin: 10px 30px;
 	
}

.navbar ul li a{
		text-decoration: none;
		font-color: black;
}

.about {
	padding: 40px;

	font-size: 40px;
	margin: 0 auto;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

.categories {
	display: grid;
	position: relative;
	/*border: 2px solid black;*/
	margin: 0 auto;
	width: 80%;
	height: 50%;
	/*left: 25%;*/
	grid-template-columns: 1fr;
	/*padding: 40px;*/
	grid-gap: 35px;
}

.bio {
	grid-template-columns: 1fr;
	font-family: 'Raleway', sans-serif;
	grid-gap: 5px;
	border: 2px solid;
	width:75%;
	margin: 0 auto;
	text-align: center;
	border: 2px solid;
	background-color: #E6EDED;
	border-radius: 5px;
	padding: 15px;
}

#bio {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	padding-bottom: 8px;
	margin: 2px auto;
}

.work {
	grid-template-columns: 1fr;
	font-family: 'Raleway', sans-serif;
	grid-gap: 5px;
	border: 2px solid;
	width:75%;
	margin: 0 auto;
	text-align: center;
	border: 2px solid;
	background-color: #E6EDED;
	border-radius: 5px;
	padding: 15px;
}

#work {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	padding-bottom: 8px;
	margin: 2px auto;
}

#bold {
	font-weight: bold;
}

.interests {
	grid-template-columns: 1fr;
	font-family: 'Raleway', sans-serif;
	grid-gap: 5px;
	border: 2px solid;
	width:75%;
	margin: 0 auto;
	text-align: center;
	border: 2px solid;
	background-color: #E6EDED;
	border-radius: 5px;
	padding: 15px;
}

#interests {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	padding-bottom: 8px;
	margin: 2px auto;
}

.education {
	grid-template-columns: 1fr;
	font-family: 'Raleway', sans-serif;
	grid-gap: 5px;
	border: 2px solid;
	width:75%;
	margin: 0 auto;
	text-align:center;
	border: 2px solid;
	background-color: #E6EDED;
	border-radius: 5px;
	padding: 15px;
}

#education {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	padding-bottom: 8px;
	margin: 2px auto;

}
/*.msg {
	padding-top: 40px;
	font-weight: lighter;
	font-family: 'Raleway', sans-serif;
}*/

.footer {
	background-color: #e5e5e5;
	border-top-style: solid;
	border-top-color: black;
	width: 100%;
	height: 50px;
	text-align: center;
	line-height: 50px;
	display: relative;
	/*top: 1100px;*/
}

@media only screen and (max-width: 500px) {
  div.background {
    height: 1500px;
  }
}
